root=true

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.CA1725.severity = none
dotnet_diagnostic.CA2254.severity = none
dotnet_diagnostic.RCS1201.severity = warning
dotnet_diagnostic.RCS1124.severity = none
dotnet_diagnostic.RCS1168.severity= none
dotnet_analyzer_diagnostic.category-roslynator.severity = error

[*Test.cs]
dotnet_diagnostic.CA1707.severity = none
