<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BookHub</title>
    <link rel="stylesheet" href="~/css/output.css" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
</head>

<body>
<header class="static w-full top-0">
    <nav class="bg-white shadow-md">
        <div class="container mx-auto py-4 flex justify-between items-center">
            <a asp-area="" asp-controller="Home" asp-action="Index"
               class="text-2xl font-bold text-gray-800 hover:text-blue-500 transition duration-200">
                BookHub
            </a>
            <div class="flex space-x-2">
                <a asp-area="" asp-controller="Account" asp-action="Login"
                   class="text-gray-800 font-medium py-2 px-4 rounded hover:bg-blue-500 hover:text-white transition duration-200">Login</a>
                <a asp-area="" asp-controller="Account" asp-action="Register"
                   class="text-gray-800 font-medium py-2 px-4 rounded hover:bg-green-500 hover:text-white transition duration-200">Register</a>
                <a asp-area="" asp-controller="Account" asp-action="Logout"
                   class="text-gray-800 font-medium py-2 px-4 rounded hover:bg-rose-500 hover:text-white transition duration-200">Logout</a>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="mt-4 px-2">
    @RenderBody()
</main>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>