@model WebMVC.Areas.Admin.ViewModels.Publisher.PublisherUpdatePageViewModel;

@{
    ViewData["Title"] = "Update publisher";
}

<div class="container mx-auto p-4">
    <h1 class="text-3xl">Update publisher</h1>
    @Html.ValidationSummary(false, "", new { @class = "text-red-500 text-sm mt-4" })

    <form asp-action="Update" method="post">
        <label class="form-control mb-2">
            <div class="label">
                <span class="label-text">Publisher name</span>
            </div>                        
            <input id="name" name="name" class="input input-bordered w-full max-w-xs" value="@Model.Name"/>
        </label>
        <div>
            <button type="submit" class="btn btn-primary text-white">Update</button>
        </div>
    </form>
</div>
